@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple User management Application</p>
    @if(!User.Identity.IsAuthenticated)
        {
            <p>Welcome:</p>
            <p>@User.Identity.Name</p>
        }
    

    <div><vc:user-registration></vc:user-registration></div>
</div>
